@using PrivateOA.Entity;
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>添加用户</h2>
    <div>
        <label>用户名：</label><input id="txtUserName" type="text" /><br />
        <label>密码：</label><input id="txtPassword" type="text" /><br />
        <label>姓名：</label><input id="txtTrueName" type="text" /><br />
        <label>电话：</label><input id="txtTellPhone" type="text" /><br />
        <label>部门：</label><input id="txtDepartment" type="text" /><br />
        <label>状态：</label><input id="sltStatus" type="text" /><br />

        <button type="button" class="btn btn-info btn-flat" id="btnSave"><i class="glyphicon glyphicon-save"></i> 添加</button>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#btnSave").click(function () {

        });
    </script>
}
